<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.model.mapper.UserMapper">
	
	<resultMap id="UserResultMap" type="com.e.model.vo.UserVo">
	    <id property="userId" column="user_id" />
	    <result property="phone" column="phone" />
	    <result property="name" column="name" />
	    <result property="email" column="email" />
	    <result property="password" column="password" />
	    <result property="createAt" column="create_at" />
	</resultMap>
	
	<select id="selectAll" resultMap="UserResultMap">
		SELECT * FROM movie_users
	</select>
		
</mapper>